{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <h1>Créer une nouvelle tâche</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('task_index') }}">Retour à la liste des tâches</a>
{% endblock %}